.form-width {
    width: 90%;
}

.tasks-header {
    /* display: flex;
    align-items: center; */
    margin-top: 2rem;
}

.bolder {
    font-weight: bold;
}

.task-row {
    overflow-wrap: anywhere;
}

.flex-row {
    overflow-wrap: anywhere;
    /* display: flex;
    width: 90%; */
}

footer { 
    top: 100vh;
    height: 65px;
    position: sticky;
    bottom: 0;
}

.comment {
    resize: none;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 0.5em 1em ;
    box-sizing: border-box;
    height: auto;
}

.comment:hover {
    border: 1px solid #c9c9c9;
    background-color: #f3f3f3;
    border-radius: 5px;
}
