.flex-container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.flex-center-window {
    height: 80%;
    width: 100%;
}

.flex-center-width {
    width: 100%;
}

.content-space {
    width: 80%;
    margin-top: 2rem;
}

.form-button {
    margin: 1.5rem;
}

.hidden {
    display: none;
}

.response-message {
    width: 90vw;
    text-align: center;
    padding: 1rem;
}

footer { 
    top: 100vh;
    height: 65px;
    position: sticky;
    bottom: 0;
}